.App {
  text-align: center;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background-color: rgb(0, 255, 42);
color: red;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.table {
  align-items: center;
}

body{
  /* background-color: blueviolet; */
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}
